@page "/BuscaAvulso"
@rendermode InteractiveServer
@using WebBibi.Models

@* Conteúdo da página *@
<div class="container-fluid">
    <div class="row mx-auto justify-content-around"
         style="margin-top:2em; width:100%;">

        @* FILTRO *@
        <div class="col-md-3 col-lg-2 py-4">
            <div class="filter-card"
                 style="
                    position: sticky;
                    top: 2rem;
                    height: fit-content;
                 ">

                <h5 class="text-center mb-4" style="font-weight: 800;">
                    Filtros
                </h5>

                @* Tipo de Veículo *@
                <div class="mb-4">
                    <p class="filter-title">Veículo</p>
                    <div class="btn-toggle-group">
                        <button class="btn-toggle @(ehCarro ? "active" : "")"
                                @onclick='() => FiltroVeiculo("carro")'>
                            Carro
                        </button>

                        <button class="btn-toggle @(ehMoto ? "active" : "")"
                                @onclick='() => FiltroVeiculo("moto")'>
                            Moto
                        </button>

                        <button class="btn-toggle @(ehScooter ? "active" : "")"
                                @onclick='() => FiltroVeiculo("scooter")'>
                            Scooter
                        </button>
                    </div>
                </div>

                @* Localização *@
                <div class="mb-4">
                    <p class="filter-title">Localização</p>
                    <input class="form-control custom-input"
                           type="text"
                           placeholder="Ex: Rio de Janeiro..."
                           value="@estadoDigitado"
                           @oninput="AtualizarSugestoes" />

                    @if (sugestoes.Any())
                    {
                        <div class="bg-white border rounded mt-1 shadow-sm">
                            @foreach (var estado in sugestoes)
                            {
                                <div class="p-2 sugestao-item"
                                     style="cursor:pointer"
                                     @onclick="() => SelecionarEstado(estado)">
                                    @estado
                                </div>
                            }
                        </div>
                    }
                </div>



                @* Combustível *@
                <div class="mb-4">
                    <p class="filter-title">Combustível</p>
                    <select class="form-select custom-input">
                        <option selected disabled>Selecione o tipo</option>
                        <option>Gasolina</option>
                        <option>Híbrido</option>
                        <option>Elétrico</option>
                    </select>
                </div>

                @* Faixa de Preço *@
                <div class="mb-4">
                    <p class="filter-title">Preço</p>
                    <div class="d-flex gap-2">
                        <input class="form-control custom-input" placeholder="Min" />
                        <input class="form-control custom-input" placeholder="Max" />
                    </div>
                </div>

                @* Câmbio *@
                <div class="mb-4">
                    <p class="filter-title">Câmbio</p>
                    <div class="d-flex flex-column gap-2 px-1">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="radio"
                                   name="cambio"
                                   id="auto">
                            <label class="form-check-label" for="auto">
                                Automático
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input"
                                   type="radio"
                                   name="cambio"
                                   id="manual"
                                   checked>
                            <label class="form-check-label" for="manual">
                                Manual
                            </label>
                        </div>
                    </div>
                </div>

                @* Marcas *@
                <div>
                    <p class="filter-title">Marcas Populares</p>
                    <div class="brand-grid">
                        @{
                            var marcas = new[]
                            {
                                                "Fiat","Volks","Chevrolet","Ford",
                                                "Toyota","Hyundai","Renault","Nissan"
                                                };

                            foreach (var marca in marcas)
                            {
                                <div class="form-check">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="radioMarca"
                                           id="@marca">
                                    <label class="form-check-label"
                                           for="@marca">
                                        @marca
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>

                <button class="btn w-100 mt-4 shadow-sm"
                        style="
                            background-color: var(--roxo);
                            border: none;
                            border-radius: 10px;
                            padding: 12px;
                            color: white;
                        ">
                    Aplicar Filtros
                </button>
            </div>
        </div>

        @* ===== CARDS ===== *@
        <div class="col-md-10 col-sm-12 rounded-2">
            <div class="row g-2">


                @foreach (var veiculo in VeiculosFake)
                {
                    @if (veiculo.TipoDeVeiculo == tipoVeiculo && !veiculo.EstadoBloqueado.Contains(estadoDigitado, StringComparer.OrdinalIgnoreCase))
                    {
                        <div class="col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center">
                            <CardAvulso Veiculo="veiculo" />
                        </div>
                    }
                }

            </div>
        </div>

    </div>
</div>

@* Conteudo fora dos cards *@
<div class="row py-5 justify-content-center mx-auto">
    <div class="col-11 col-lg-10 bg-white rounded-3 shadow-sm">

        @* Texto *@
        <div class="p-4 p-lg-5">
            <h3 class="fw-bold mb-2">
                Não encontrou a oferta ideal?
            </h3>

            <p class="fs-5 text-muted mb-3">
                Sem problemas. Nossa equipe está pronta para te ajudar a encontrar
                o veículo perfeito, de forma rápida, segura e sem burocracia.
            </p>

            <ul class="list-unstyled mb-4">
                <li class="mb-2">
                    <i class="bi bi-check-circle-fill me-2" style="color:var(--roxo);"></i>
                    Atendimento personalizado
                </li>
                <li class="mb-2">
                    <i class="bi bi-check-circle-fill me-2" style="color:var(--roxo);"></i>
                    Simulações de financiamento sob medida
                </li>
                <li class="mb-2">
                    <i class="bi bi-check-circle-fill me-2" style="color:var(--roxo);"></i>
                    Aceitamos seu usado na troca
                </li>
            </ul>

            <hr class="my-4">

            @* Botões *@
            <div class="row gap-3 justify-content-start">

                <a class="col-12 col-md-4 btn btn-outline-primary btn-roxo-outline
                           d-flex align-items-center justify-content-center gap-2"
                   style="color:var(--roxo); border-color:var(--roxo);">
                    <i class="bi bi-envelope-fill"></i>
                    Falar com um especialista
                </a>

                <a class="col-12 col-md-3 btn btn-outline-success
                           d-flex align-items-center justify-content-center gap-2">
                    <i class="bi bi-whatsapp"></i>
                    WhatsApp
                </a>

                <a class="col-12 col-md-3 btn btn-outline-danger
                           d-flex align-items-center justify-content-center gap-2">
                    <i class="bi bi-telephone-fill"></i>
                    Ligação
                </a>

            </div>
        </div>

    </div>
</div>


@code {
    string tipo = "";
    bool ehCarro = true;
    bool ehMoto = false;
    bool ehScooter = false;
    string tipoVeiculo = "carro";
    string estadoDigitado = "";

    public Veiculo veiculo { get; set; }

    public void FiltroVeiculo(string tipo)
    {
        switch (tipo)
        {
            case "carro":
                ehCarro = true;
                ehMoto = false;
                ehScooter = false;
                break;
            case "moto":
                ehCarro = false;
                ehMoto = true;
                ehScooter = false;
                break;
            case "scooter":
                ehCarro = false;
                ehMoto = false;
                ehScooter = true;
                break;
        }

        tipoVeiculo = tipo;
    }

    List<string> estados = new()
    {
        "Acre",
        "Alagoas",
        "Amapá",
        "Amazonas",
        "Bahia",
        "Ceará",
        "Distrito Federal",
        "Espírito Santo",
        "Goiás",
        "Maranhão",
        "Mato Grosso",
        "Mato Grosso do Sul",
        "Minas Gerais",
        "Pará",
        "Paraíba",
        "Paraná",
        "Pernambuco",
        "Piauí",
        "Rio de Janeiro",
        "Rio Grande do Norte",
        "Rio Grande do Sul",
        "Rondônia",
        "Roraima",
        "Santa Catarina",
        "São Paulo",
        "Sergipe",
        "Tocantins"

    };

    List<string> sugestoes = new();

    void AtualizarSugestoes(ChangeEventArgs e)
    {
        estadoDigitado = e.Value?.ToString() ?? "";

        if (string.IsNullOrWhiteSpace(estadoDigitado))
        {
            sugestoes.Clear();
            return;
        }

        sugestoes = estados
            .Where(e => e.Contains(estadoDigitado, StringComparison.OrdinalIgnoreCase))
            .ToList();
    }


    void SelecionarEstado(string estado)
    {
        estadoDigitado = estado;
        sugestoes.Clear();


    }



    List<Veiculo> VeiculosFake = new()
{
    // ===== CARROS =====
   new Veiculo
{
    Modelo = "Onix LT",
    Marca = "Chevrolet",
    Ano = 2021,
    Preco = 65000m,
    EhOferta = true,
    AceitaUsado = true,
    TipoDeVeiculo = "carro",
    EstadoBloqueado = new List<string>
    {
        "Amazonas",
        "Acre",
        "Roraima"
    },
    ImagemUrl = "/Img/Img-Teste.jpg/"
},
new Veiculo
{
    Modelo = "HB20 Comfort",
    Marca = "Hyundai",
    Ano = 2022,
    Preco = 72000m,
    EhOferta = false,
    AceitaUsado = true,
    TipoDeVeiculo = "carro",
    EstadoBloqueado = new List<string>
    {
        "Maranhão",
        "Piauí",
        "Ceará"
    },
    ImagemUrl = "/Img/Img-Teste.jpg"
},
new Veiculo
{
    Modelo = "Argo Drive",
    Marca = "Fiat",
    Ano = 2020,
    Preco = 61000m,
    EhOferta = true,
    AceitaUsado = false,
    TipoDeVeiculo = "carro",
    EstadoBloqueado = new List<string>
    {
        "Pará",
        "Amapá"
    },
    ImagemUrl = "/Img/Img-Teste.jpg"
},
new Veiculo
{
    Modelo = "Corolla GLi",
    Marca = "Toyota",
    Ano = 2019,
    Preco = 98000m,
    EhOferta = true,
    AceitaUsado = false,
    TipoDeVeiculo = "carro",
    EstadoBloqueado = new List<string>
    {
        "Amazonas",
        "Rondônia",
        "Acre"
    },
    ImagemUrl = "/Img/Img-Teste.jpg"
},

// ===== MOTOS =====
new Veiculo
{
    Modelo = "CG 160 Fan",
    Marca = "Honda",
    Ano = 2022,
    Preco = 14500m,
    EhOferta = true,
    AceitaUsado = true,
    TipoDeVeiculo = "moto",
    EstadoBloqueado = new List<string>
    {
        "Maranhão",
        "Rio Grande do Norte"
    },
    ImagemUrl = "https://images.pexels.com/photos/1119796/pexels-photo-1119796.jpeg"
},
new Veiculo
{
    Modelo = "Fazer 250",
    Marca = "Yamaha",
    Ano = 2021,
    Preco = 21000m,
    EhOferta = false,
    AceitaUsado = true,
    TipoDeVeiculo = "moto",
    EstadoBloqueado = new List<string>
    {
        "Pará",
        "Amazonas"
    },
    ImagemUrl = "https://images.pexels.com/photos/1119796/pexels-photo-1119796.jpeg"
},
new Veiculo
{
    Modelo = "CB 300F Twister",
    Marca = "Honda",
    Ano = 2023,
    Preco = 24500m,
    EhOferta = true,
    AceitaUsado = false,
    TipoDeVeiculo = "moto",
    EstadoBloqueado = new List<string>
    {
        "Amapá",
        "Roraima"
    },
    ImagemUrl = "https://images.pexels.com/photos/1119796/pexels-photo-1119796.jpeg"
},

// ===== SCOOTERS =====
new Veiculo
{
    Modelo = "PCX 160",
    Marca = "Honda",
    Ano = 2022,
    Preco = 18500m,
    EhOferta = true,
    AceitaUsado = true,
    TipoDeVeiculo = "scooter",
    EstadoBloqueado = new List<string>
    {
        "Amazonas",
        "Acre"
    },
    ImagemUrl = "https://images.pexels.com/photos/159192/vespa-roller-motor-scooter-cult-159192.jpeg"
},
new Veiculo
{
    Modelo = "NMax 160",
    Marca = "Yamaha",
    Ano = 2021,
    Preco = 17500m,
    EhOferta = false,
    AceitaUsado = true,
    TipoDeVeiculo = "scooter",
    EstadoBloqueado = new List<string>
    {
        "Maranhão",
        "Piauí"
    },
    ImagemUrl = "https://images.pexels.com/photos/159192/vespa-roller-motor-scooter-cult-159192.jpeg"
},
new Veiculo
{
    Modelo = "ADV 160",
    Marca = "Honda",
    Ano = 2023,
    Preco = 22500m,
    EhOferta = true,
    AceitaUsado = false,
    TipoDeVeiculo = "scooter",
    EstadoBloqueado = new List<string>
    {
        "Pará",
        "Rondônia"
    },
    ImagemUrl = "https://images.pexels.com/photos/159192/vespa-roller-motor-scooter-cult-159192.jpeg"
}
    };



}
